@import './../../styles/base/base';

@media(min-width: 70rem){
    .navigation{
        &-wrapper{
            width: 100%;
            background: $LIGHT_TONE;
            bottom: unset;
            top: 0;
        }
        &-logo{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            background: url('./../../assets/images/ThinkOutside-logo/vector/default.svg');
            background-position: center;
            background-size: cover;
            height: 40rem;
            height: 6.8rem;
            width: 23.5rem;
        }
        &-content{
            margin: 0 auto;
            width: 80%;
        }
        &-group{
            flex-flow: row;
            font-size: 7rem;
            width: 20%
        }
        &-icon{
            font-size: 4rem; 
        }
        &-text{
            display:unset;
            text-decoration: none;
            font-size: 2.5rem;
            text-transform: uppercase;
            font-weight: 400;
            margin-left: 1.2rem;
            color: $SECONDARY_HIGHLIGHT;
        }
        &-text:hover{
            font-weight: 800;
        }
        &-text.highlight{
            color: $PRIMARY_HIGHLIGHT;
            font-weight: 900;
        }
    }
}