// $SECONDARY_HIGHLIGHT: #91B86C;
// $PRIMARY_HIGHLIGHT: #569B70;
// $DARK_TONE: #050506;
// $MID_TONE: #9DAA9D;
// $LIGHT_TONE: #F2F2F2;

$SECONDARY_HIGHLIGHT: #898CD8; // VISTA BLUE
$PRIMARY_HIGHLIGHT: #3E92CC; // CELESTIAL BLUE
$DARK_TONE: #0E0D22; // SMOKY BLACK
$MID_TONE: #413C58; // PINEAPPLE
$LIGHT_TONE: #FEFFFE; // WHITE